.heading-top{
    color: #1D2026;
font-size: 40px;
font-family: Plus Jakarta Sans;
font-weight: 600;
line-height: 48px;
word-wrap: break-word
}
.heading-typo{
    color: #6B7280 !important;
    font-size: 16px !important;
    font-family: 'Plus Jakarta Sans' !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    word-wrap: break-word !important;
}

@media screen and (max-width: 750px) {
    .apple-cart1-img{
        position: unset !important;
        display: block !important;
    }
}

@media screen and (max-width: 550px) {
    .heading-top{
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .heading-top{
        font-size: 20px;
    }
}