.service-card{
    padding: 30px;
    width: 400px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px !important;
    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
      }
    
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
      }
    
      &:hover:before {
        transform: scale(2.15);
      }
    .card-top{
        display: flex !important;
        justify-content: space-between !important;
        // button{
            // background-color: #fafafa;
            // border-radius: 12px;
            // border: 0px solid #fafafa;
            img{
                width: 24px;
                height: 24px;
            }
        // }
        .arrow-icons{
            width: 24px;
            height: 24px;
        }
    }
    .card-title{
            span{
                color: #1F2937;
                font-size: 20px;
                font-family: Plus Jakarta Sans;
                font-weight: 700;
                line-height: 30px;
                word-wrap: break-word
            }
    }

    .card-description{
        p{
            color: #64748B;
            font-size: 16px;
            font-family: Plus Jakarta Sans;
            font-weight: 400;
            line-height: 24px;
            word-wrap: break-word
        }
    }
}

@media screen and (max-width: 430px) {
    .top-secondary-title{
        font-size: 30px !important;
    }
}