.feature-top{
    margin-top: 60px;
    .feature-top-title{
        text-align: center;
        color: #1F2937;
        font-size: 40px;
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        line-height: 48px;
        word-wrap: break-word
    }
    .feature-top-paragrph{
        text-align: center;
        // Browse through our list of features and  benefits to your liking
        color: #6B7280;
        font-size: 16px;
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: 24px;
        word-wrap: break-word
    }
}

.feature-cards{
    margin-top: 63px;
    background-color: #fefefe;
    // .card-grid{
        // display: flex;
        // justify-content: center;
        .card{
            width: 340px;
            margin-bottom: 5%;
            height: 300px;
            padding: 20px;
            background: white; 
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
            border-radius: 5.17px;
            text-align: center;
            .card-icons{
                background-color: aqua;
                margin: auto;
                display: flex;
                justify-content: center;
                width: 50px;
                // height: 100%; 
                opacity: 0.70;
                text-align: center;
                padding: 20px; 
                border-radius: 10px;
            }

            .card-title {
                color: #1D293F;
                width: auto;
                padding-top: 15px;
                font-size: 20px;
                font-family: "Plus Jakarta Sans";
                font-weight: 500;
                line-height: 24px;
                word-wrap: break-word
            }
            .card-desc{
                color: #6B7280;
                width: auto;
                padding-top: 20px;
                font-size: 14px;
                font-family: Plus Jakarta Sans;
                font-weight: 400;
                line-height: 28px;
                word-wrap: break-word
            }
        }
        
    // }
}

@media screen and (max-width: 900px) {
    .feature-cards{
        margin-top: 63px;
        background-color: #fefefe;
        text-align: center;
            .card{
                width: 95%;
                margin-bottom: 5%;
                height: 300px;
                padding: 20px;
                background: white; 
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
                border-radius: 5.17px;
                text-align: center;
            }
        }
}