.contact-us-section {
  background-image: url("../../../../public/assets/Contactus/contact-us-form.svg") !important;
  display: flex;
  justify-content: center;
  .contact-title-section{
    .contact-title{
        color: #1D293F;
        font-size: 32px;
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: 38.40px;
        word-wrap: break-word
    }
  }
  .contact-us-form {
    position: relative;
    top: -50px;
    width: 70%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    // padding-left: 104px;
    // padding-right: 103px;
    background: white;
    box-shadow: 0px 31.009492874145508px 64px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    display: inline-flex;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  input {
    color: #9ca3af;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    width: 100%;
    // height: 70%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  textarea {
    color: #9ca3af;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    width: 100%;
    // height: 70%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .btn-form{
    width: 100%;
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: #38CAB5;
    color: white;
    font-size: 18px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word  ;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
}
