.joinUs{
    background-image: url('../../../../../public/assets/Products/Benefits.png');
    // background-color: #0f1625;
    height: 100vh;
    width: 100%;
    color: #fff;
    // padding: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    // text-align: center;
    .joinUs-box1{
        .join-title{

            padding-top: 150px;
            text-align: center;
            padding-left: 570px;
            padding-right: 570px;
        }
    }
    .joinUs-box2{
        .join-desc{
            text-align: center;
            padding-left: 320px;
            padding-right: 320px;
        }
    }
    .join-title{
        // width: 34%;
        color: white;
        font-size: 40px;
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        line-height: 48px;
        word-wrap: break-word;
    }
    .join-desc{
        // width: 47%;
        color: white;
        font-size: 16px;
        font-family: Plus Jakarta Sans;
        font-weight: 500;
        line-height: 32px;
        word-wrap: break-word
    }
    .btn-join{
        background: #38CAB5; 
        padding: 18px; 
        text-align: cenetr;  
        color: white; 
        width: 18%; 
        text-transform: capitalize; 
        font-size: 18px; 
        font-family: Plus Jakarta Sans; 
        font-weight: 500; 
        line-height: 28px; 
        word-wrap: break-word;
    }
}

.joinUs-image{
    background-color: #fff;
    text-align: center;
    height: auto;
    // background-color: #38CAB5;
}


@media screen and (max-width: 1400px) {
    .joinUs-box1{
        .join-title{

            padding-top: 150px;
            text-align: center;
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }
    .joinUs-box2{
        .join-desc{
            text-align: center;
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .joinUs-image{
        img{
            position: unset !important;
            top: 0px !important;
            width: 100% !important;
        }
    }
    .btn-join{  
        width: auto !important; 
        margin-bottom: 50px !important;
    }
    .joinUs{
        height: auto;
    }
}